#login-contents 
{
	position: relative;
	width: 700px;
	height: 100px;
	margin: 20px auto 0;
	border: 1px solid black;
	padding: 10px 0 0 10px;
	background: gold;
	
	/* Safari and Google Chrome */
	background: -webkit-radial-gradient(lightyellow, gold);
	
	/* Firefox */
	background: -moz-radial-gradient(lightyellow, gold);
	
	/* Opera */
	background: -o-radial-gradient(lightyellow, gold);
	
	/* Internet Explorer */
	background: -ms-radial-gradient(lightyellow, gold);
	
	/* W3C Standard */
	background: radial-gradient(lightyellow, gold);
}
#login-contents #login-link
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	border: 2px solid yellow;
	background-color: khaki;
	padding: 2px;
}