#contents
{
	margin-top: 100px;
	width: 700px;
	margin: auto;
	background-color: white;
	height: 500px;
	overflow: hidden;
	-moz-box-shadow: 2px 2px 5px 5px #999;
	-webkit-box-shadow: 2px 2px 5px 5px #999;
	box-shadow: 2px 2px 5px 5px #999;
}
#body
{
	background-image: url('../images/somewebpage.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#tAndC
{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	height: 400px;
	overflow: auto;
	border: solid;
	border-width: 1px;
}
.tAndCHeaderOne
{
	font-size: 20px;
}
.tAndCHeaderTwo
{
	font-size: 16px;
}